body {
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  color: #888888;
}

.calendar-day {
  width:8%;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-size: 22px;
  line-height: 50% ;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  margin: -1px;
  text-align: center;
  display: inline-block;

}

.controls {
  display: inline-block;
  text-align: center;
}

.today {
  font-weight: bold;
  color:red;
}